<?xml version="1.0" encoding="utf-8"?>
<widget id="com.mhdigital.myexpenses" version="4.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MyExpenses</name>
  <description>Offline income and expense tracker</description>
  <author email="dev@cordova.apache.org" href="https://cordova.apache.org">MyExpenses</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <preference name="AndroidInsecureFileModeEnabled" value="true" />
  <preference name="AndroidXEnabled" value="true" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="Fullscreen" value="false" />
  <plugin name="myexpenses-native" spec="./plugins/myexpenses-native" />
  <platform name="android">
    <allow-intent href="market:*" />
    <preference name="Scheme" value="https" />
  </platform>
</widget>
